*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Paleta de colores */
:root{
    /* Header */
    --headerBC:#FCF7F8;
    /* Section */
    --sectionBG: #CED3DC;
}
li{
    list-style-type: none;
}
section{
    background-color: var(--sectionBG);
}

/* --------------------HEADER------------------------------*/
header{
    background-color: var(--headerBC);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logoPagina{
    width: 70px;
}
.navbar{
    gap: 80px;
}
.ulNavbar{
gap: 30px;
}
.navbar,.ulNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:30px;
    padding-right:30px;
}
.liNavbar,.aLiNavbar{
    text-decoration: none;
    color: black;
}
/* --------------------SECTION SOBRE MI------------------------------*/
.fotoAvatar{
    width: 320px;
}
.fotoAvatar{
    position: relative;
    right: 50px;
    top: 70px;
}
.containerImg{
    padding: 0px,250px;
}
.sectionSobreMi{
display: flex;
flex-direction: row;
margin-top: 70px;
}
.containerSobreMi{
    margin:100px 100px;
}
.containerSobreMi h2, .containerSobreMi p{
    text-align: center;
    line-height: 25px;
}
.containerSobreMi h2{
    color: #275DAD;
}
.containerSobreMi p{
    padding: 10px 100px;
}
.containerButtons{
 display: flex;
 justify-content: center;
 gap: 25px;
 margin-top: 10px;
}
.containerButtons button{
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: #FCF7F8;
    color: #275DAD;
}
/* --------------------SECTION INFO PERSONAL------------------------------*/
.sectionInformationPersonal h2,.sectionInformationPersonal p{
    text-align: center;
}
.sectionInformationPersonal h2{
padding-bottom: 20px;
}
.sectionInformationPersonal p{
    padding: 0px 80px;
}
.sectionInformationPersonal h2::first-letter{
    color: #275DAD;
}